<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  
  <appSettings>
    <add key="DB_SERVICE_HTTP" value="http://172.20.105.36:5110/DBService" />
    <add key="SAP_SERVICE_HTTP" value="http://172.20.105.36:5310/SapService" />
    <add key="FILE_SERVICE_HTTP" value="http://172.20.105.36:5510/FileService" />
    <add key="FILE_SERVICE_TCP" value="net.tcp://172.20.105.36:5520/FileService" />
  </appSettings>
  
</configuration>
